*, *::before, *::after {
    box-sizing: border-box;
}

.all {
    background-color: var(--gray-10);
    border-radius: 26px;
    padding: 48px;
    height: calc(100vh - 48px);
    width: calc(100vw - 48px);
    margin: 24px;
}

@media (max-width: 478px) {
    .all{
        padding: 48px 18px 48px 18px;
        height: calc(100vw - 18px);
        width: calc(100vw - 18px);
        margin: 12px;
    }
}